body {
	font-family: arial, sans-serif;
	font-size: 13px;
	
}
.four {
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 30px;
	height: 30px;
	background-image: url(i1_1967ca6a.png);
	background-position: -132px -38px;
	background-position-x: -132px;
	background-position-y: -38px;
	background-size: 528px 68px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(0,0,0);
	cursor: pointer;
	display: inline-block;
	height: 30px;
	line-height: 16px;
	opacity: 0.55;
	outline-color: rgb(0,0,0);
	outline-style: none;
	outline-width: 0px;
	text-align: left;
	text-decoration: none;
	text-decoration-line: solid;
	vertical-align: middle;
	white-space: nowrap;
	width: 30px;
}
.top ul {
	list-style-type: none;
	margin: 20px;
	padding: 5px;
	text-align-last: right;	
}
.top li {
	display: inline;
	text-decoration: none;
	padding: 5px 10px

}
.top li a {
	text-decoration: none
}
.top li a:hover {
	text-decoration: underline;
}
.center {
	position: relative;
	margin: auto;
	width: 30%;
	padding: 10px;
	margin-top: 59px;
	padding-top: 89px;
	height: 92px;
}
.offer {
	position: relative;
	margin: auto;
	width: 30%;
	margin-top: 20px;
	margin-bottom: 80px;
}
.offer a {
	text-decoration: none;
}
.inbox {
	position: relative;
	width: 40%;
	margin: auto;
	padding: 0px;
}
.input {
	border: medium none;
	line-height: 34px;
	height: 34px !important;
	width: 459px !important;
	position: relative;
	margin-bottom: 20px;
	color: silver;
	background-color: transparent;
	text-align: left;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
	
}
.submit {
	margin: auto;
	width: 25%;
	position: relative;
	padding: 10px;
}
.footer {
	height: 40px;
	padding: 0px;
	border: 0px;
	margin: auto;
	color: rgb(34, 34, 34);
	line-height: 40px;
	width: 1007px;
	visibility: visible;
	min-width: 980px;
	display: block;
	color: rgb(34,34,34);
	position: absolute;
	visibility: visible;
	bottom: 0;
	
}
#foot {
	bottom: 0;
	height: 35px;
	position: absolute;
	width: 100%;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
	min-width: 980px;
	bottom: 0;
	left: 0;
	right: 0;
}
.footer a {
	text-decoration: none;
}
#left{
	margin: 0px;
	border: 0px;
	padding: 0px 0px 0px 30px;
	width: 240px;
	height: 15px;
	line-height: 40px;
	visibility: visible;
	white-space: nowrap;
	color: rgb(34, 34, 34);
	bottom: 0;
}
.ad {
	color: rgb(102, 102, 102);
	display: inline-block;
	line-height: 40px;
	margin: 0px;
	border: 0px;
	height: 40px;
	width: 63px;
	padding: 0px 0px 0px 27px;
	text-decoration: none;
	text-decoration-color: rgb(102,102,102);
	text-decoration-line: none;
	text-decoration-style: solid;
	visibility: visible;
	white-space: nowrap;
	bottom: 0;
}
.bus {
	color: rgb(102, 102, 102);
	display: inline-block;
	line-height: 40px;
	margin: 0px;
	border: 0px;
	height: 40px;
	width: 54px;
	padding: 0px 0px 0px 27px;
	text-decoration: none;
	text-decoration-color: rgb(102,102,102);
	text-decoration-line: none;
	text-decoration-style: solid;
	visibility: visible;
	white-space: nowrap;
	bottom: 0;
}
.abt {
	color: rgb(102, 102, 102);
	display: inline-block;
	line-height: 40px;
	margin: 0px;
	border: 0px;
	height: 40px;
	width: 34px;
	padding: 0px 0px 0px 27px;
	text-decoration: none;
	text-decoration-color: rgb(102,102,102);
	text-decoration-line: none;
	text-decoration-style: solid;
	visibility: visible;
	white-space: nowrap;
	bottom: 0;
}
#right {
	margin: 0px 30px 0px 0px;
	border: 0px;
	padding: 0px;
	width: 342;
	height: 40px;
	color: rgb(34,34,34);
	float: right;
	line-height: 40px;
	visibility: visible;
	white-space: nowrap;
	bottom: 0;
}
.use {
	margin: 0px;
	padding: 0px 0px 0px 27px;
	border: 0px;
	width: 97px;
	height: 40px;
	color: rgba(102,102,102);
	display: inline-block;
	text-decoration: none;
	text-decoration-color: rgb(102,102,102);
	text-decoration-line: none;
	text-decoration-style: solid;
	visibility: visible;
	white-space: nowrap;
	bottom: 0;
}
.tms {
	margin: 0px;
	padding: 0px 0px 0px 27px;
	border: 0px;
	width: 35px;
	height: 40px;
	color: rgba(102,102,102);
	display: inline-block;
	text-decoration: none;
	text-decoration-color: rgb(102,102,102);
	text-decoration-line: none;
	text-decoration-style: solid;
	visibility: visible;
	white-space: nowrap;
	bottom: 0;
}
.pri {
	margin: 0px;
	padding: 0px 0px 0px 27px;
	border: 0px;
	width: 42px;
	height: 40px;
	color: rgba(102,102,102);
	display: inline-block;
	text-decoration: none;
	text-decoration-color: rgb(102,102,102);
	text-decoration-line: none;
	text-decoration-style: solid;
	visibility: visible;
	white-space: nowrap;
	bottom: 0;
}